agate==1.9.1
annotated-types==0.7.0
anyio==4.9.0
asttokens==3.0.0
attrs==24.2.0
babel==2.16.0
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
comm==0.2.2
daff==1.3.46
db-dtypes==1.3.1
dbt==1.0.0.36.13
dbt-adapters==1.10.3
dbt-bigquery==1.8.3
dbt-common==1.13.0
dbt-core==1.9.0rc2
dbt-extractor==0.5.1
dbt-postgres==1.8.2
dbt-semantic-interfaces==0.7.4
debugpy==1.8.13
decorator==5.2.1
deepdiff==7.0.1
executing==2.2.0
fastapi==0.115.11
google-api-core==2.23.0
google-auth==2.36.0
google-cloud-bigquery==3.27.0
google-cloud-core==2.4.1
google-cloud-dataproc==5.15.1
google-cloud-storage==2.19.0
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
grpc-google-iam-v1==0.13.1
grpcio==1.68.1
grpcio-status==1.68.1
h11==0.14.0
idna==3.10
importlib-metadata==6.11.0
ipykernel==6.29.5
ipython==9.0.2
ipython_pygments_lexers==1.1.1
isodate==0.6.1
jedi==0.19.2
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
leather==0.4.0
MarkupSafe==3.0.2
mashumaro==3.14
matplotlib-inline==0.1.7
more-itertools==10.5.0
msgpack==1.1.0
nest-asyncio==1.6.0
networkx==3.4.2
numpy==2.1.3
ordered-set==4.1.0
packaging==24.2
pandas==2.2.3
parsedatetime==2.6
parso==0.8.4
pathspec==0.12.1
platformdirs==4.3.7
prompt_toolkit==3.0.50
proto-plus==1.25.0
protobuf==5.29.0
psutil==7.0.0
psycopg2-binary==2.9.10
pure_eval==0.2.3
pyarrow==18.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.10.3
pydantic_core==2.27.1
Pygments==2.19.1
python-dateutil==2.9.0.post0
python-multipart==0.0.20
python-slugify==8.0.4
pytimeparse==1.1.8
pytz==2024.2
pywin32==310
PyYAML==6.0.2
pyzmq==26.3.0
referencing==0.35.1
requests==2.32.3
rpds-py==0.22.1
rsa==4.9
setuptools==69.2.0
six==1.16.0
sniffio==1.3.1
snowplow-tracker==1.0.4
sqlparse==0.5.2
stack-data==0.6.3
starlette==0.46.1
text-unidecode==1.3
tornado==6.4.2
traitlets==5.14.3
types-requests==2.32.0.20241016
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
uvicorn==0.34.0
wcwidth==0.2.13
zipp==3.21.0
